@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

body {
  background: var(--background);
  font-family:
    Public Sans,
    sans-serif;
  margin: 0 auto;
  max-width: 1200px;
}
